@model FingWeb.Core.SearchViewModel
@using FingWeb.Core
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

@using (Html.BeginForm("Search", "Main", FormMethod.Get))
{
  @Html.TextBox("SearchTerm", @Model.SearchTerm)
  <input type="submit" value="Fing" />
}

<div>@Model.SearchTerm</div>

@foreach(var result in Model.Results)
{
  <div>
    
    <h3>@result.FriendlyName</h3>
    <code>@result.TypeCode</code>

    @if (result.DocString.Count() == 0)
    {
      <div>No content available</div>
    }
      
    @foreach (var elem in result.DocString)
    {
      <div class="xml-doc-item" data-type="@elem.Item1">
        @elem.Item2
      </div>
    }

  </div>
}