@model FingWeb.Core.SearchViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

@using (Html.BeginForm("Search", "Main"))
{
  @Html.TextBox("SearchTerm", @Model.SearchTerm)
  <input type="submit" value="Fing" />
}

<div>@Model.SearchTerm</div>

@foreach(var result in Model.Results)
{
    <div>
      <h3>@result.FriendlyName</h3>
      <sub>@result.TypeCode</sub>
      <code>
         @result.DocString
      </code>
    </div>
}